main.main#pisos {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    padding: 20px;
    border-radius: 10px;

    div.images {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    img {
        max-width: 30%;
        margin-bottom: 16px;
        border-radius: 10px;
        border: 2px solid $orange
    }
    @media all and (max-width: 1200px){
        img {
            max-width: 45%;
        }
    }
    @media all and (max-width: 800px){
        div.images {
            justify-content: center;
        }
        img {
            max-width: 80%;
        }
    }
}